<p>Come on, this is a Bluth family celebration. It's no place for children. It's a jetpack, Michael. What could go wrong? 

I was set up. By the Brits. A group of British builders operating outside the O.C. They frame my junk. There are dozens of us! Dozens! You're losing blood, aren't you? Probably, my socks are wet. 

I could use a leather jacket for when I'm on my hog and have to go into a controlled slide. That's my son, you pothead! Everything they do is so dramatic and flamboyant. It just makes me want to set myself on fire. - Lucille Bluth. Sure, let the little fruit do it. HUZZAH! Dad asked me to do this on the day he pleads not guilty, as a spectacular protest. A…. ? 

I didn't get into this business to please sophomore Tracy Schwartzman, so… onward and upward. On… Why, Tracy?! Why?!! I will be a bigger and hairier mole than the one on your inner left thigh! I'm not a prostitute. Then I shall let you live! I'm gonna build me an airport, put my name on it. Why, Michael? So you can fly away from your feelings? No! These are just strippers! Look how hot they are! 

Oh, I'm sorry, I forgot… your wife is dead! I think the only time you cooked for us was the morning Rosa's mom died. You gave us cereal in an ashtray. NO TOUCHING! I'm afraid I'm with Michael on this one. The guy runs a prison, he can have any piece of ass he wants. You're a good guy, mon frere. That means brother in French. I don't know how I know that. I took four years of Spanish. 

No borders, no limits… go ahead, touch the Cornballer… you know best? We have unlimited juice? This party is going to be off the hook. I cheated and I lied and I whored around. It walked on my pillow! You boys know how to shovel coal? Yeah, I invited her. You said you wanted to spend time some with her. You said I was being an Ann hog. Ann, you need to decide whether you want a man or a boy. I know how I'd answer. ♪♪ Big yellow joint, big yellow joint, I'll meet you down at the big yellow joint. ♪♪ 

Touché, Pandora. See for more good stuff. You were just a turd out there, you know? You couldn't kick, and you couldn't run, you know? You were just a turd. I just haven't had sex in a month. You know, you've been here two months. It's hard to gauge time. Chickens don't clap! Yo quiero leche. Yo quiero leche de madre. I'll have a vodka rocks. (Mom, it's breakfast time.) And a piece of toast. Quicken! Premiere! 

Taste the happy, Michael. Taste it. It tastes kind of like sad. Yo quiero leche. Yo quiero leche de madre. It walked on my pillow! What a fun, sexy time for you. 

The only thing more terrifying than the escaped lunatic's hook was his twisted call… Heyyyyy campers! How about a turtle? I've always loved those leathery little snappy faces. You can control your bladder when you're dead! Hair up, glasses off. Go ahead, touch the Cornballer. It walked on my pillow! I need a tea to give my dingle less tingle. 

One of the guys told me to take my head out of my BOTTOM and get back to work…my BOTTOM! Hahahaha. Never once touched my per diem. I'd go to Craft Service, get some raw veggies, bacon, Cup-A-Soup…baby, I got a stew goin'. If you're suggesting I play favorites, you're wrong. I love all of my children equally. I don't care for Gob. The worst that could happen is that I could spill coffee all over this $3,000 suit. COME ON. You stay on top of her, Buddy. Don't be afraid to ride her. Hard. Oh, yeah, the guy in the the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. Come on! I know what an erection feels like, Michael. ♪♪ It's The Final Countdown ♪♪ </p>